/* Custom Font */
@font-face {
    font-family: "Computer Pixel-7";
    src: url("fonts/ComputerPixel7-mnL2.ttf") format("truetype");
}

/* Apply to the whole page */
body {
    background-color: black;   /* black background */
    color: limegreen;          /* green text */
    font-family: "Computer Pixel-7", monospace; /* custom font (you can swap this) */
    margin: 20px;
    letter-spacing: 3px;
}

a:visited {
    color: green;
}

/* Make <hr> lines green */
hr {
    border: none;
    border-top: 2px solid limegreen;
    margin: 20px 0;
}

/* Page Specific Elements */

/* the safe page */
#safeSection img{
    display: block;
    margin: 15px auto;
    max-width: 500px;
    width: 50%;
    height: auto;
}

#safeSection {
    display: flex;
    flex-direction: column; /* place items vertically */
    align-items: center;     /* center the button as well */
    text-align: center;
}

/* Hidden text page */
#hiddenSection {
    display: flex;
    flex-direction: column; /* place items vertically */
    align-items: center;     /* center the button as well */
    text-align: center;
    color: black; /* hidden text color */
}

/* the maze page */
#mazeSection img{
    display: block;
    margin: 15px auto;
    max-width: 500px;
    width: 50%;
    height: auto;
}

#mazeSection {
    display: flex;
    flex-direction: column; /* place items vertically */
    align-items: center;     /* center the button as well */
    text-align: center;
}